#app {
    display: grid;
    grid-template-columns: 25rem 51.25rem;
    gap: 1.25rem;

    height: 100vh;
    overflow: hidden;

    background-color: var(--shape-background);

    padding: 1.25rem;
}

.aside-container {
    max-width: 25rem;

    position: relative;

    & img {
        border-radius: 0.75rem;
    }

    & header {
        position: absolute;

        padding: 2rem;

        & img {
            width: 3rem;
            height: 3rem;
        }

        & h1 {
            font: var(--font-logo);
            color: var(--accent-color-pink);

            display: block;

            margin-block: 1rem;
        }

        & p {
            font: lighter 1rem / 1 var(--font-family-body);
            color: var(--text-heading);
        }
    }
}

main {
    overflow: auto;

    background-color: var(--shape-body);
}

.main-form {
    max-width: 35rem;
    margin-left: auto;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}
